.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
}

.logo {
    background: #56347c url(/assets/logo.svg) no-repeat 30px 10px;
    height: 110px;
    padding-bottom: 10px;
    margin: 0 0 10px;
}

pre {
    margin: 12px 90px;
}

.status {
    font-weight: bold;
}

.good {
    color: green;
}

.bad {
    color: red;
}

.unknown {
    color: #957fff;
}
